<div class="widgets">

  <div class="row">
    <ba-card cardTitle="Basic Example" baCardClass="with-scroll" class="smart-table-container">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="product.name">      
    </div>
    <div class="form-group">
      <label for="name">Precio</label>
      <input type="number" class="form-control" [(ngModel)]="product.price">      
    </div>
    </ba-card>
  </div>
  <button (click)="save()" class="btn btn-primary">Guardar</button>
</div>